<div class="container">
  <div class="row" style="padding-top:40px;">
    <div class="col-md-8">
      <div class="note">
        <div class="noteheader">
          <div class="notesubjectbar">
            <p style="color:black"><b><%= @note.page.name %> Notes</b></p>
          </div>  

          <% if @title.present? %>
              <h4><%= @title %></h4>
            <% end %>
            <p>
              <% if @note.page %>
                <span style="color:gray;font-size:1.0em;">By <%= link_to (@note.user.name), @note.user %> in <%= link_to (@note.page.name), @note.page %> <%= time_ago_in_words(@note.created_at) %> ago</span>
              <% end %>
              <% if current_user?(@note.user) %>
                <%= link_to 'Edit', edit_note_path(@note) %>
              <% end %>
            </p>
        </div>

        <div class="notebody">  
          <p>
            <hr><%= raw(@note.content) %>
          </p>    
        </div>

        <div class="notefooter">
          <%= link_to (image_tag @note.user.avatar.url(:thumb), :class => "user_small"), @note.user %>
          <b><%= link_to (@note.user.name), @note.user %></b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>